@model IEnumerable<Com.BitsQuan.Option.Core.Deal>
@using Com.BitsQuan.Option.Provider;
@{
    OptionDbCtx o = new OptionDbCtx();
}
<input type="hidden" id="ajaxpagecount" value="@(((Com.BitsQuan.Option.Ui.Models.Query.QueryEngine)ViewData["args"]).PageCount)" />

<table class="table table-striped">
    <tr>
        <th>编号</th>
        <th>合约代码</th>
        <th>主动委托编号</th>
        <th>主动委托人</th>
        <th>被动委托编号</th>
        <th>被动委托人</th>
        <th>成交时间</th>
        <th>是否是部分成交</th>
        <th>数量</th>
        <th>成交类型</th>
        <th>价格</th>
    </tr>
    @if (Model != null)
    {
        foreach (var v in Model)
        {
            <tr>
                <td>@v.Id</td>
                <td>@o.Contracts.Where(ss => ss.Id == v.ContractId).FirstOrDefault().Code</td>
                <td>@v.MainOrderId</td>
                <td>@v.MainName</td>
                <td>@v.SlaveOrderId</td>
                <td>@v.SlaveName</td>
                <td>@v.When</td>
                <td>@v.IsPartialDeal</td>
                <td>@v.Count</td>
                <td>@v.DealType</td>
                <td>@v.Price</td> 
            </tr>
        }
    }
</table> 
