@model IEnumerable<Com.BitsQuan.Option.Ui.Areas.Supervise.Controllers.UserOpLog>

 

    <input type="hidden" id="ajaxpagecount" value="@(((Com.BitsQuan.Option.Ui.Models.Query.QueryEngine)ViewData["args"]).PageCount)" />
    <table class="table table-striped">
        @if (Model != null)
        {
            <tr>
                <th>编号</th>
                <th>用户姓名</th>
                <th>Ip</th>
                <th>控制器</th>
                <th>操作</th>
                <th>时间</th>
                <th>参数</th>

            </tr>
            foreach (var v in Model)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Name</td>
                    <td>@v.Ip</td>
                    <td>@v.Controller</td>
                    <td>@v.Action</td>
                    <td>@v.When</td>
                    <td>@Html.DisplayFor(m => v.Prms)</td>
                </tr>
            }
        }
    </table> 
    
