@model IEnumerable<Com.BitsQuan.Option.Core.SysAccountRecord>

<input type="hidden" id="ajaxpagecount" value="@(((Com.BitsQuan.Option.Ui.Models.Query.QueryEngine)ViewData["args"]).PageCount)" />

<table class="table table-striped">
    <tr>
        <th>编号</th>
        <th>用户</th>
        <th>类型</th>
        <th>金额</th>
        <th>私有总额(手续费,充值提现)</th>
        <th>公共总额(借还款)</th> 
        <th>用户保证金余额</th>
        <th>发生时间</th>
        <th>委托</th>
    </tr>
    @if (Model != null)
    {
        
        foreach (var v in Model)
        {
            <tr>
                <td>
                    @v.Id
                </td>
                <td>@v.Who.Name</td>
                <td>@(v.ChangedType)</td>
                <td>@v.Delta.ToString("C2")</td>
                <td>@v.PrivateSum.ToString("C2")</td>
                <td>@v.PublicSum.ToString("C2")</td> 
                <td>@(v.TraderSum.ToString("C2"))</td>
                <td>@v.When.ToString("yyyy-MM-dd HH:mm:ss.fff")</td>
                <td>@(v.Order==null?"": v.Order.ToShortString())</td>
            </tr> 
            
        }
        
    }
</table> 
