@model IEnumerable<Com.BitsQuan.Option.Core.TraderMsg>

<input type="hidden" id="ajaxpagecount" value="@(((Com.BitsQuan.Option.Ui.Models.Query.QueryEngine)ViewData["args"]).PageCount)" />

<table class="table table-striped">
    <tr>
        <th>编号</th>
        <th>用户</th>
        <th>类型</th>
        <th>内容</th>
        <th>时间</th>
    </tr>
    @if (Model != null)
    {
        foreach (var v in Model)
        {
            <tr>
                <td>
                    @v.Id
                </td>
                <td>@v.Name</td>
                <td>@v.MsgType</td>
                <td>@v.When</td>
                <td>@v.Msg</td>
            </tr> 
        
        }
    }
</table> 
