@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        th {
            text-align: center;
        }
    </style>
</head>
<body>
    <h4>货币</h4>
    <input type="text" id="NameSel" /> <input type="button" id="btnNameSel" value="查询" />
    <table class="table table-bordered" style="width:100%;text-align:center;line-height:30px">
        <tr>
            <th>编号</th>
            <th>货币代码</th>
            <th>货币名称</th>
            <th>维持保证金率</th>
            <th>期权价值倍数</th>
            <th>操作</th>
        </tr>
        @if (Model != null)
        {
            foreach (var v in Model)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.CotractCode</td>
                    <td>@v.Name</td>
                    <td>@v.MainBailRatio</td>
                    <td>@v.MainBailTimes</td>
                    <td>

                        <a href="javascript:void(0)" class="AddPage">添加</a>
                        <a href="javascript:void(0)" class="UpdatePage">修改</a>
                        <a href="javascript:void(0)" class="del">删除</a><span style="display:none">@v.Id</span>

                    </td>
                </tr>
            }
        }
    </table>
    @{
        Html.RenderPartial("_Pager", ViewData["pager"]);
    }
</body>
</html>

