@{
    Layout = null;
}

<!doctype html>
<html>
<head>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Scripts/bs-3.3.4/css/bootstrap.min.css")
    @Styles.Render("~/scripts/bs-3.3.4/css/bootstrap-theme.min.css")
    @Scripts.Render("~/scripts/bs-3.3.4/js/bootstrap.min.js")
    <link href="" rel="stylesheet" />
    <meta charset="utf-8">
    <title>用户注册-最好的比特币期权交易平台</title>
</head>

<body>
    <div>
        <div>
            <div>
                <div class="text-center">
                    <label>
                        验证邮件已经发送到您的邮箱：
                    </label>
                    <span class="label label-success" id="email">
                        @if (ViewBag.msg != null)
                        {
                            @ViewBag.msg
                        }
                    </span>
                </div>
                <div class="text-center">
                    <p>请登录您的邮箱，点击邮件中的确认链接激活帐号</p>
                    <div>
                        <input name="toEmail" class="btn btn-primary" value="登录该邮箱" id="loginBtn" type="button" />
                    </div>
                </div>
                <p class="text-center">
                    <span>或去 </span><a href="/home/index">主页</a>
                </p>

                <p class="text-center"><label>没有收到验证邮件？</label>到垃圾邮件目录找找，重新发送验证邮件请 <a href="javascript:void(SendEmail2())">点击这里</a><p />
            </div>

        </div>
    </div>
</body>
</html>


<script type="text/javascript">

    $(function () {
        $("#loginBtn").click(function () {
            var uurl = $("#email").html();
            uurl = gotoEmail(uurl);
            if (uurl != "") {
                window.open("http://" + uurl);
            } else {
                alert("抱歉!未找到对应的邮箱登录地址，请自己登录邮箱查看邮件！");
            }
        });
        var Request = new Object();
        Request = GetRequest();
        $('#email').text((Request['email']));
    })



    function GetRequest() {

        var url = location.search; //获取url中"?"符后的字串

        var theRequest = new Object();

        if (url.indexOf("?") != -1) {

            var str = url.substr(1);

            strs = str.split("&");

            for (var i = 0; i < strs.length; i++) {

                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);

            }

        }

        return theRequest;

    }
    //功能：根据用户输入的Email跳转到相应的电子邮箱首页
    function gotoEmail(email) {

        var $t = email.substring(email.indexOf('@@') + 1);
        $t = $t.toLowerCase();;
        if ($t == "163.com") {
            return 'mail.163.com';
        } else if ($t == 'vip.163.com') {
            return 'vip.163.com';
        } else if ($t == '126.com') {
            return 'mail.126.com';
        } else if ($t == 'qq.com' || $t == 'vip.qq.com' || $t == 'foxmail.com') {
            return 'mail.qq.com';
        } else if ($t == 'gmail.com') {
            return 'mail.google.com';
        } else if ($t == 'sohu.com') {
            return 'mail.sohu.com';
        } else if ($t == 'tom.com') {
            return 'mail.tom.com';
        } else if ($t == 'vip.sina.com') {
            return 'vip.sina.com';
        } else if ($t == 'sina.com.cn' || $t == 'sina.com') {
            return 'mail.sina.com.cn';
        } else if ($t == 'tom.com') {
            return 'mail.tom.com';
        } else if ($t == 'yahoo.com.cn' || $t == 'yahoo.cn') {
            return 'mail.cn.yahoo.com';
        } else if ($t == 'tom.com') {
            return 'mail.tom.com';
        } else if ($t == 'yeah.net') {
            return 'www.yeah.net';
        } else if ($t == '21cn.com') {
            return 'mail.21cn.com';
        } else if ($t == 'hotmail.com') {
            return 'www.hotmail.com';
        } else if ($t == 'sogou.com') {
            return 'mail.sogou.com';
        } else if ($t == '188.com') {
            return 'www.188.com';
        } else if ($t == '139.com') {
            return 'mail.10086.cn';
        } else if ($t == '189.cn') {
            return 'webmail15.189.cn/webmail';
        } else if ($t == 'wo.com.cn') {
            return 'mail.wo.com.cn/smsmail';
        } else if ($t == '139.com') {
            return 'mail.10086.cn';
        } else {
            return '';
        }
        return '';
    };

    function SendEmail2() {
        $.post("/Account/SendEmail2", {}, function () { })
    }
</script>