@model Com.BitsQuan.Option.Ui.Models.ApplicationRole

@{
     
}
<style>
    li {
        list-style-type: none;
    }
</style>
<h3>新建用户角色</h3>
<div class="pull-right">
    @Html.ActionLink("返回列表", "Roles", null, new { @class = "btn btn-info btn-xs" })
</div>
<hr />
@using (Html.BeginForm("CreateRole", "security", FormMethod.Post, new { @class="form-horizontal",role="form",id="theform"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Hidden("selected", "", new { id="selMids"})
    <div class="row">
        <div class="col-md-2">
            @foreach (var v in Com.BitsQuan.Option.Models.Security.MenuManager.Instance.Tops)
            {
                @Html.Partial("_PartialMenuSelect", v)
            }
        </div>
        <div class="col-md-10">
            <div class="form-group">
                <label for="Name" class="col-md-2 control-label">角色名称</label>
                <div class="col-md-2">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

            </div>
            <div class="form-group">
                <label for="Description" class="col-md-2 control-label">权限描述</label>
                <div class="col-md-4">
                    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "height:100px;width:300px" })
                    @Html.ValidationMessageFor(model => model.Description)
                </div>
            </div>

            <div class="col-md-2 col-md-offset-2">
                <input type="submit" value="保存" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
 <script>

     $(function () {
         
         $("a[id^=btn]").click(function () {
             var tid = $(this).data("tag");
             var isHidden = $("#" + tid).hasClass("hidden");

             if (isHidden) {
                 $("#" + tid).removeClass("hidden");
                 $(this).removeClass("glyphicon-minus");
                 $(this).addClass("glyphicon-plus");
             }
             else {
                 $("#" + tid).addClass("hidden");
                 $(this).removeClass("glyphicon-plus");
                 $(this).addClass("glyphicon-minus");
             }
         });
         
         $("#theform").submit(function () {
             var ma = [];
             $("input[type=checkbox]").each(function (i, j) {
                 var isChecked = $(j).prop("checked"); 

                 if (isChecked) {
                     var tag = $(this).data("tag");

                     ma.push(tag);
                 };
             });
             var sa = ma.join(",");

             $("#selMids").val(sa);
         })
     })
</script>


 
