@{
    Layout = "_right.cshtml";
}

<style>

</style>
  <li class="title1">帖子详情</li>
@using Com.BitsQuan.Option.Ui.Models
@model Com.BitsQuan.Option.Ui.Models.ReplyModel

@if (ViewData["Host"] != null)
{
            var item = ViewData["Host"] as ForumHost;
          <h1 style="text-align: center; font-family: 微软雅黑; ">@item.Fname</h1>
            <div style="font-family: 微软雅黑; padding-left:150px">
                @item.Fcontent
            </div>
}
<br /><br />
@using (Ajax.BeginForm("FrontForumReply", "FrontForum", null, new AjaxOptions
        {
            UpdateTargetId = "FrontForumReply",
            InsertionMode = InsertionMode.Replace
        },
        new { @class = "form-horizontal", role = "form" }))
        {
            <div>
                @Html.LabelFor(k => k.Rcontent, new { @class = "control-label col-md-2" })
                @Html.TextAreaFor(k => k.Rcontent, new { @class = "input", cols = 100, rows = 10 })
                @Html.TextBoxFor(k => k.fid, new { @class = "input", value = ViewData["HostId"],style="display:none" })
                <br />
                <input type="submit" onclick="AddReply()" value="回复" style="margin-left:26%;margin-top:5px" class="subbtn" />
            </div>
        }
            <hr />

<li class="title1"><i class="i1">回帖内容</i><i class="i2">作者</i><i class="i3">回帖时间</i><i class="i4">操作</i></li>
@if (ViewData["ReplyList"] != null)
{
    foreach (var item in ViewData["ReplyList"] as List<ForumReply>)
    {
        <li class="title2">
            <span class="i1">@(item.Rcontent.Length > 10 ? item.Rcontent.Substring(0, 10) : item.Rcontent)</span>
            <span class="i2">@item.Uid</span>
            <span class="i3"> &nbsp;@item.RDate</span>
            <span class="i4">@Html.ActionLink("删除", "DeleteReply", new { id = item.Id, fid = ViewData["HostId"] })</span>
        </li>
    }
}

